/* 
bg color 252A33

nav bg color 2F343D

blue color 3C7AE1
*/
body{
    background: #252A33 !important;
    
}
.vertical-menu{
    background-color: #2F343D ;
    height: 550px;
    width:75px;
    transition: 1s;
    display: inline-block;
    padding-left: 25px;
    padding-top: 70px;
}
.vertical-menu:after{
    content: "";
    position: absolute;
    top: 0;
    margin-top: 8px;
    left: 100px;
    background-color: #3C7AE1;
    width: 10px;
    height: 620px;
    float: right;
    transition: 1s;
}
.vertical-menu:hover{
    width: 400px;
    transition: 1s;
}
.vertical-menu:hover:after{
    left: 425px;
    transition: 1s;
}
.vertical-menu:hover .nav-text{
    display: inline-block;
    opacity: 1;
    transition: 2s;
}
.vertical-menu:hover .active:after{
    left: 370px;
    transition: 1s;
} 
.vertical-menu:hover .active::before{
    left: 370px;
    transition: 1s;
} 

.nav-text{
    position: absolute;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    margin-left: 20px;
    opacity: 0;
    transition: 0.6s;
}
.menu-element-div{
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.active{
    background-color: #3C7AE1;
    position: relative;
}
.menu-element-inner{
    text-align: center;
     width: auto;
    
}
.menu-element{
    color: white;
    text-decoration: none;
    height: 50px;
}
.menu-element img{
    height: 24px;
    margin-left: 8px;
    filter: invert(1);
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
}
.active{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.active:before{
    content: "";
    position: absolute;
    background-color: #2F343D;
    bottom: -45px;
    height: 45px;
    width: 25px;
    left: 50px;
    border-top-right-radius: 20px;
    box-shadow: 0px -15px 0px 0px #3C7AE1;
    transition: 1s;
}
.active:after{
    content: "";
    position: absolute;
    background-color: #2F343D;
    bottom: 64px;
    height: 45px;
    width: 25px;
    left: 50px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 15px 0px 0px #3c7ae1;
    transition: 1s;
}